@use "variables.scss";
@use "fonts/barlowc.scss";
@use "fonts/Jost.scss";
@use "fonts/firasansc.scss";
@use "header-line.scss";
@use "garden.scss";


html {
    font-size: var(--main-font-size);
    line-height: var(--main-font-height);
}
body {
    padding: 0;
    margin: 0;

    font-size: var(--main-font-size);
    font-family: "Fira Sans Condensed Regular", "Barlow Semi Condensed Regular", "Roboto Condensed", "Arial";
    color:var(--body-font-color);

    background-color: var(--body-color);
    //background-image: linear-gradient(to top, #dadddf 0%, #eaeaea 100%);
    //background-attachment: fixed;
}

/* Add space around everything except header */
section.section {
    padding-inline: var(--section-padding-inline);
    min-height: 80vh;  // Extend section to full mobile screen height
    padding-block-start: 1px;
}
/* Header styling */
header.site-header{
    //display: block;
    //position: sticky;
    //text-align: center;
    background-color: var(--header-background-color);
    //box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.site-header nav a{
    text-decoration: none;
    //font-size: 21px;
    //color: var(--nav-link-color);
    border-bottom: none; /* Removes the underline */
    //text-transform: lowercase;
}
.header-icon{
    fill: var(--header-icon-fill-color);
}
/* Arrange nav items with space between them*/
nav {
    display: flex;
    justify-content: space-around;
    padding-inline: 45px;
    padding-block-start: 35px;
    padding-block-end: 25px;
    padding-inline-start: 15px;
    background-color: var(--nav-header-background-color);
}
span.star {
    margin: 0px 0px;
    color: var(--nav-separator-color);
    color: #00000000;
    // font-size: 13px;
}

.title-header a {
    color: var(--header-title-color);
    text-transform: uppercase;
    font-size: var(--title-header-size);
    border-bottom: none;

    font-weight: bolder;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin: auto;
    text-transform: uppercase;
    background: linear-gradient(219deg, var(--color-1) 19%, transparent 19%, transparent 20%, var(--color-2) 20%, var(--color-2) 39%, transparent 39%, transparent 40%, var(--color-3) 40%, var(--color-3) 59%, transparent 59%, transparent 60%, var(--color-4) 60%, var(--color-4) 79%, transparent 79%, transparent 80%, var(--color-5) 80%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
h1.title-header {
    background-color: var(--title-header-background-color);
    //padding-block-start: 40px;
    padding-block-end: 10px;
    margin-top: 0;
}

.breadcrumb-icon {
    width: 24px;
    height: 24px;
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 -1 24 24" stroke-width="2" stroke="rgb(92 149 183)" class="size-6" width="15"><path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /></svg> ');
    background-repeat: no-repeat;
    background-size: 17px;
    background-position: left center;
    padding-left: 7%;
    padding-bottom: 0%;
    border-bottom: none;
    padding-top: 0%;
}

/*p.bread-bar{
    color: darkgrey;
    white-space: nowrap;
    overflow: hidden;
    font-size: 0.8em;
    background-color: rgba(204, 212, 219, .2705882353);
    padding-inline: 15px;
    padding-block: 5px;
    margin-inline: -25px;
    margin-top: 0;
}*/

p.bread-bar {
    border-bottom: 1px solid #c7c6c6;
    padding-block-end: 5px;
}

/*  Style all links*/
a {
    text-decoration: none;
    border-bottom: 2px dashed currentColor; /* creates the underline */
    padding-bottom: 2px; /* adjusts the position of the underline */  

    color:var(--link-color);
}
a:active {
    color: rgb(171, 207, 130);
}

h1,h2,h3,h4,h5,h6{
    color:var(--h-colors);
    font-weight: 700;
    margin-bottom: 0;

    font-family: "Fira Sans Condensed Light", "Barlow Semi Condensed Medium", "Barlow Semi Condensed Regular", "Jost";
}
h1.title {
    font-size: 1.25em;
}

footer {
    text-align: center;
    font-size: 15px;
    color: rgb(113 127 135);
    padding-block-start: 30px;
    padding-block-end: 20px;
    background-color: var(--header-background-color);
}
footer p {
    margin: 0px;
}
footer a {
    color: var(--header-title-color);
}

/* Style the date for each listing item in Blog section */
.blog-page-date {
    color: #8f8f8f;
    font-size: 14px;
}
/* Style the date inside each blog article */
.blog-page-article-date {
    color: #8f8f8f;
    font-size: 14px;
    margin-block-start: 0;
}

/* Style all bullet icons*/
ul {
    list-style-type: none;
    padding-left: 20px;     //Move li elements to the left
}
ul li {
    //flame icon list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="14" width="14" viewBox="0 0 384 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="rgb(183 83 77)" d="M153.6 29.9l16-21.3C173.6 3.2 180 0 186.7 0C198.4 0 208 9.6 208 21.3V43.5c0 13.1 5.4 25.7 14.9 34.7L307.6 159C356.4 205.6 384 270.2 384 337.7C384 434 306 512 209.7 512H192C86 512 0 426 0 320v-3.8c0-48.8 19.4-95.6 53.9-130.1l3.5-3.5c4.2-4.2 10-6.6 16-6.6C85.9 176 96 186.1 96 198.6V288c0 35.3 28.7 64 64 64s64-28.7 64-64v-3.9c0-18-7.2-35.3-19.9-48l-38.6-38.6c-24-24-37.5-56.7-37.5-90.7c0-27.7 9-54.8 25.6-76.9z"/></svg>');
    //Backup: list-style-image: url('data:image/svg+xml,<svg class="bullet-icon-color" xmlns="http://www.w3.org/2000/svg" height="12" width="12.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="rgb(255, 112, 112)" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>');
    list-style-image: url('data:image/svg+xml,<svg class="bullet-icon-color" xmlns="http://www.w3.org/2000/svg" height="12" width="12.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="rgb(200 107 107)" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>');
    padding-left: 5px;
    padding-bottom: 10px;
}
ul li li {
    font-size: 0.9em;
}
ul.blog-listing li{ // Add a bottom space to all blog listings in BLOG and GARDEN 
    padding-bottom: 15px;
}
ul.homepage-blog-listing {
    margin-top: 10px;
}

/* Styling for unordered lists*/
ol {
    padding-left: 28px;
}
ol li {
    padding-left: 5px;  // Increase space between li numbering and li text
}

//hr {
    /* border-color: var(--hr-color); */
    /* border-style: solid; */
    //border: 0;
    //height: 1px;
    //background-image: linear-gradient(to right, #f0f0f0, var(--hr-color), #f0f0f0);
//}

/* Image styling*/
img.pict {
	width: 20%;
	height: 20%;	
	margin-left: 40%;
}
img.graphik {
	width:15%; 
	float:left;
	padding-right: 10px;
	margin: 0;
}
figure:has(img) {
    margin: 0; //Horse
}
img.banner {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(145, 145, 145, .5294117647);

    margin-top: -23px;
    margin-bottom: -7px;
}
/* Sticker on the homepage*/
.av {
    text-align: center;
    //padding-top: 8%;
}
.av img {
    //width: 36%;
    //width: 50px;
    width: 100px;
}

.wavy {
    /* Wavy design test*/
    padding-block: 40px;
    --mask: radial-gradient(44.72px at 50% 60px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 51% repeat-x, radial-gradient(44.72px at 50% -40px,#0000 99%,#000 101%) 50% 20px/80px calc(51% - 20px) repeat-x, radial-gradient(44.72px at 50% calc(100% - 60px),#000 99%,#0000 101%) 50% 100%/80px 51% repeat-x, radial-gradient(44.72px at 50% calc(100% + 40px),#0000 99%,#000 101%) calc(50% - 40px) calc(100% - 20px)/80px calc(51% - 20px) repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    margin-block: -20px;
    background-color: var(--wave-color);
}

.wavy-border{
    //--mask:
    //radial-gradient(33.54px at 50% calc(100% - 45px),#000 99%,#0000 101%) calc(50% - 30px) 0/60px 100%,
    //radial-gradient(33.54px at 50% calc(100% + 30px),#0000 99%,#000 101%) 50% calc(100% - 15px)/60px 100% repeat-x;
  //-webkit-mask: var(--mask);
    //      mask: var(--mask);
}
.wavy-border-inverted{
     /* --mask:
          radial-gradient(33.54px at 50% 45px,#000 99%,#0000 101%) calc(50% - 30px) 0/60px 100%,
          radial-gradient(33.54px at 50% -30px,#0000 99%,#000 101%) 50% 15px/60px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);
    */
}

strong {
    font-weight: 500;
}
blockquote {
    padding-inline: 14px;
    margin: 5px;
    border-left: 2px solid #d58181;
    font-size: smaller;
}
pre {
    background: #f1f1f3;
    border-radius: 4px;
    overflow: scroll;
    padding: 14px;
    font-size: medium;
}
.footnote-definition p {
    margin-top: 0px;
    font-size: medium;    
}

// Terra
.ev{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1.title-header a {
    font-size: 32px;
    text-transform: uppercase;
}
.free {
    /* display: flex; */
    display: grid;
    grid-template-columns: 50px 40px auto auto;
}

.hello-panel {
    padding-inline: 10px;
}

nav .free a {
    color: #3688d0;
    text-transform: capitalize;
    font-size: 16px;

    font-family: monospace;
    text-decoration: dashed;
    padding-bottom: 0px;
    border-bottom: 1px dashed;
}

/* Widescreen Styling*/
@media (min-width:600px){
    body {
        //padding-inline: 180px;
        display:flex;
        //padding:30px;
        //flex-direction: column;
        min-height: 100vh;
        margin: 0 ; 
        padding-inline: 30px;      
    }
    nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 100px;
        //padding-left: 44px;
    }
    header.site-header{
        margin-top: 7px;
        margin-inline: -15px;
        /* border-radius: 5px; */
    }
    .site-header nav a {
        font-size: 25px;
        padding-bottom: 27px;
    }
    .eleven h1::after{
        top:100px;
    }
    section.section{
        width:100%;
        padding-inline: 3em;
        padding-block: 2em;
    }
    .wavy{
        --mask:
        radial-gradient(44.72px at 60px 50%,#000 99%,#0000 101%) 0 calc(50% - 40px)/51% 80px repeat-y,
        radial-gradient(44.72px at -40px 50%,#0000 99%,#000 101%) 20px 50%/calc(51% - 20px) 80px repeat-y,
            radial-gradient(44.72px at calc(100% - 60px) 50%,#000 99%,#0000 101%) 100% 50%/51% 80px repeat-y,
        radial-gradient(44.72px at calc(100% + 40px) 50%,#0000 99%,#000 101%) calc(100% - 20px) calc(50% - 40px)/calc(51% - 20px) 80px repeat-y;
      -webkit-mask: var(--mask);
              mask: var(--mask);
              background-color: var(--wave-color);
    }
    .garden-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }
    .garden-section ul {
        display: grid;
        grid-template-columns: auto;
    }
    .garden-section .panel {
        background: #d9e6e9;
        border-radius: 4px;
        padding-inline: 20px;
        padding-block: 1px;
        margin-block: 12px;        
    }
    @media (prefers-color-scheme: dark) {
        .garden-section .panel { 
            background: #3d3241;
        }
    } 
    footer {
        display: none;
    }
}

/* ----------- Dark Mode -------------- */
@media (prefers-color-scheme: dark) {
    body{
        background-image: none;
        background-color: var(--body-color);
    }
    ul li {
        list-style-image: url('data:image/svg+xml,<svg class="bullet-icon-color" xmlns="http://www.w3.org/2000/svg" height="12" width="13.5" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="rgb(191 100 89)" d="M316.9 18C311.6 7 300.4 0 288.1 0s-23.4 7-28.8 18L195 150.3 51.4 171.5c-12 1.8-22 10.2-25.7 21.7s-.7 24.2 7.9 32.7L137.8 329 113.2 474.7c-2 12 3 24.2 12.9 31.3s23 8 33.8 2.3l128.3-68.5 128.3 68.5c10.8 5.7 23.9 4.9 33.8-2.3s14.9-19.3 12.9-31.3L438.5 329 542.7 225.9c8.6-8.5 11.7-21.2 7.9-32.7s-13.7-19.9-25.7-21.7L381.2 150.3 316.9 18z"/></svg>');
    }
}


/* ----------- Gallery shortcode ----------- */
.gallery {
    display: grid;
    //grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    box-shadow: 0px 0px 3px grey;
    border-radius: 4px;
}
a.gallery-image {   
    padding-bottom: 0;
    border: none; 
}




.nav-divider {
    margin: 1.5em auto;
    position: relative;
    height: 9px;
    width: 9px;
    border: transparent;
    overflow: visible;
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%231CB0A8" /></svg>');
    
    &:before {
      position: absolute;
      height: 9px;
      width: 10px;
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23FCB643" /></svg>');
      left: -18px;
    }
    
    &:after {
      position: absolute;
      height: 9px;
      width: 9px;
      content: '';
      background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EF4056" /></svg>');
      right: -18px;    
    }
  }


// ALl hr

hr {
    /* color: #751717; */
    border: 1px solid #d5d5d5;
    width: 30%;
    /* height: 12px; */
}


// Header divider hr

  hr.sep-3 {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, #00000003, var(--main-color), #00000003);
    width: 83%;
  }
  hr.sep-3::after {
    content: 'ยง';
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    transform-origin: 50% 50%;
    padding: 1rem;
    background-color: white;
  }