.eleven h1 {
    font-size:25px;
    //text-align:center; 
    line-height:1.5em; 
    padding-bottom:20px; 
    //font-family:"Playfair Display", serif; 
    text-transform:uppercase;
    //letter-spacing: 2px; 
    color:#f7f7f7;
    font-weight: 400;
  }
  
  
  .eleven h1:before {
    position: absolute;
    left: 0;
    bottom: 80px;
    width: 60%;
    left:50%; margin-left:-30%;
    height: 1px;
    content: "";
    background-color: #f7f7f7; 
    z-index: 4;
  }
  .eleven h1:after {
    position:absolute;
    width:40px; 
    height:40px; 
    left:50%; 
    margin-left:-20px; 
    bottom:62px;
    content: '\00a7'; 
    font-size:20px; 
    line-height:40px; 
    //color:#777;
    font-weight:400; 
    z-index: 5;
    display:block;
    background-color:#9d8e8b;
  }
  