:root {
    --main-font-size: 18px;
    --main-line-height: 30px;

    --title-header-size: 2em;
    --section-padding-inline: 20px;

    --main-color:rgb(207 63 63); //rgb(63,125,207);// rgb(200 107 107);

    --body-color: #ffffff;
    //--body-font-color: #664848;//#393939;
    --panel-color: rgba(37, 43, 37, 0.81);
    --link-color:#5480d0;//#d05454;//#3688d0; //var(--body-font-color);

    --title-header-background-color: #ffeee100;
    //--header-background-color:#ffffff00;//#f3f3f3;// #eeeeee;//#f0f0f0;
    //--nav-header-background-color:#ffffff00;// #f9f9f9;

    --nav-link-color: var(--main-color);
    --header-title-color: var(--main-color);
    --header-line-color: #454545;
    --header-icon-fill-color: #454545;
    --nav-separator-color:#7eb9da;//#52829e;

    --garden-section-bg-color: #f5f5f5;
    --garden-intro-bg-color: #d8f1d4;

    //--wave-color: #ffffff;
    --h-colors: var(--main-color);
    --hr-color: #454444;

    /*
    --color-1: var(--header-title-color);
    --color-2: var(--color-1);
    --color-3: var(--color-1);
    --color-4: var(--color-1);
    --color-5: var(--color-1);
    */

    // Multi coloured nav header title
     --color-1: #186cb8;
    --color-2: #2a9a9f;
    --color-3: #f1b211;
    --color-4: #e83611;
    --color-5: #f9002f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-color: #372f3b;
        --body-font-color: #e0cfeb;
        --main-color: rgb(221 92 92);
        --link-color: #c7d2ef;

        //--header-background-color: #443a49;//#f0f0f0;
        //--nav-link-color: #e5d1ded6;
        --header-title-color: #d1dce5;//#e5d1ded6;
        --header-line-color: #e5d1ded6;
        --header-icon-fill-color: #e5d1ded6;

        //--wave-color: rgb(28 26 26 / 39%);
        --garden-section-bg-color: #271c1c;
        --garden-intro-bg-color: #ffffff00;
        //--h-colors:#db7262;
        --hr-color: #e0cfeb;
    }
}

@media (min-width:800px){
    :root{
        //--main-font-size: 21px;
    }
}