:root {
    --main-font-size: 20px;
    --main-font-height: 32px;

    --body-color: #d0dedf;
    --body-font-color: #416a83;
    --panel-color: rgb(248 251 248 / 81%);
    --link-color:#5c95b7;

    --nav-link-color: #5c95b7;
    --header-title-color: #5c95b7;
    --header-line-color: #5c95b7;
    --header-icon-fill-color: #5c95b7;

    --wave-color: #eef5f7;
    --h-colors: #b75c5c;
    --hr-color: #5c95b7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-font-size: 23px;
        --body-color: #443a49;
        --body-font-color: #e0cfeb;
        --link-color: #c7d2ef;

        --nav-link-color: #e5d1ded6;
        --header-title-color: #e5d1ded6;
        --header-line-color: #e5d1ded6;
        --header-icon-fill-color: #e5d1ded6;

        --wave-color: rgb(28 26 26 / 39%);

        --h-colors:#db7262;
        --hr-color: #e0cfeb;
    }
}