@font-face {
    font-family: 'Acumin Pro';
    src: local('AcuminPro-Regular'),
        url('/fonts/AcuminPro/AcuminPro-Regular.woff2') format('woff2'),
        url('/fonts/AcuminPro/AcuminPro-Regular.woff') format('woff'),
        url('/fonts/AcuminPro/AcuminPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: local('AcuminProCond-Regular'),
        url('/fonts/AcuminPro/AcuminProCond-Regular.woff2') format('woff2'),
        url('/fonts/AcuminPro/AcuminProCond-Regular.woff') format('woff'),
        url('/fonts/AcuminPro/AcuminProCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: local('AcuminProCond-Bold'),
        url('/fonts/AcuminPro/AcuminProCond-Bold.woff2') format('woff2'),
        url('/fonts/AcuminPro/AcuminProCond-Bold.woff') format('woff'),
        url('/fonts/AcuminPro/AcuminProCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro SemiCondensed';
    src: local('AcuminProSemiCond-ExtraLight'),
        url('/fonts/AcuminPro/AcuminProSemiCond-ExtraLight.woff2') format('woff2'),
        url('/fonts/AcuminPro/AcuminProSemiCond-ExtraLight.woff') format('woff'),
        url('/fonts/AcuminPro/AcuminProSemiCond-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro SemiCondensed';
    src: local('AcuminProSemiCond-Regular'),
        url('/fonts/AcuminPro/AcuminProSemiCond-Regular.woff2') format('woff2'),
        url('/fonts/AcuminPro/AcuminProSemiCond-Regular.woff') format('woff'),
        url('/fonts/AcuminPro/AcuminProSemiCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Acumin Pro SemiCondensed';
    src: local('AcuminProSemiCond-Semibold'),
        url('/fonts/AcuminPro/AcuminProSemiCond-Semibold.woff2') format('woff2'),
        url('/fonts/AcuminPro/AcuminProSemiCond-Semibold.woff') format('woff'),
        url('/fonts/AcuminPro/AcuminProSemiCond-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

