<div class="gallery">
    {% if images %}
        {% for image in images %}
        <div class="gallery-item">
            <img src="{{ image | safe }}" alt="Gallery Image" onclick="openLightbox('{{ image | safe }}')" />
        </div>
        {% endfor %}
    {% else %}
        <p>No images available.</p>
    {% endif %}
</div>
  
  
  <script>
  function openLightbox(imageSrc) {
    const lightbox = document.querySelector('.lightbox');
    const lightboxImage = document.querySelector('.lightbox img');
    lightboxImage.src = imageSrc;
    lightbox.classList.add('active');
  }
  
  function closeLightbox() {
    const lightbox = document.querySelector('.lightbox');
    lightbox.classList.remove('active');
  }
  
  document.addEventListener('DOMContentLoaded', () => {
    const lightbox = document.createElement('div');
    lightbox.className = 'lightbox';
    lightbox.innerHTML = '<img src="" alt="Lightbox Image" /><span onclick="closeLightbox()" style="position: absolute; top: 120px; right: 20px; color: white; font-size: 30px; cursor: pointer;">&times;</span>';
    document.body.appendChild(lightbox);
  });
  
  </script>