{% extends "base.html" %}

{% block content %}
    <!-- <h1 class="title">
     {{ section.title }}
    </h1> -->
<div class="garden-section">
    <div class="panel">
        <h1 class="notes category">Notes</h1>
        <ul>
            <li class="g-now"><a href={{section.path ~ "/Notes/Now"}} >Now page</a> </li>
            <li class="g-mini-blog"><a href={{section.path ~ "/Notes/Mini%20Blog"}} >Mini blog</a> </li>
        </ul>
    </div>
  

    <div class="panel">
        <h1 class="web category">Web</h1>
        <ul>
            <li class="g-links"><a href={{section.path ~ "/Web/Links"}} >Links</a> </li>
            <li class="g-blogroll"><a href={{section.path ~ "/Web/Blogroll"}} >Blogroll page</a> </li>
        </ul>
    </div>
    <div class="panel">
        <h1 class="media category">Media</h1>
        <ul>
            <li class="g-music"><a href={{section.path ~ "/Media/Music"}} >Music </a> </li>
            <li class="g-photos"><a href={{section.path ~ "/Media/Photos"}} >Photos </a> </li>
        </ul>
    </div>    
    
    <div class="panel">
        <h1 class="software category">Software</h1>
        <ul>
            <li class="g-android"> <a href={{section.path ~ "/Software/Android"}} >Android</a> </li>
            <li class="g-windows"> <a href={{section.path ~ "/Software/Windows"}} >Windows</a> </li>
        </ul>
    </div>
</div>
{% endblock content %}