{% extends "base.html" %}

{% block content %}
    {# ---------------- Breadcrumbs ------------------#}
	<p class="bread-bar">
    {% set breadcrumb = page.components | slice(end=-1) | join(sep='/') %}
       <a class = "breadcrumb-icon" href="{{  "/" ~ breadcrumb}}">
         {{page.components[1] | capitalize}} / {{page.components | slice(end=-1) | last | capitalize}} </a>
         <span>/ {{page.title}}</span>            
         <hr>
        </p>
    {# ----------------------------------------- #}

    <h1 class="title">
        {{ page.title }}
        </h1>
    
    

    <p class="blog-page-date">{{ page.date |date(format=config.extra.date_format) }}</p>
    {{ page.content | safe }}
{% endblock content %}