{% extends "base.html" %}

{% block content %}
    <br/>
    {% set banner = resize_image(path="/static/banner.jpg", width=672, op="fit_width") %}
    <img class="banner" src="{{ banner.url }}" class="home-banner" alt="Arky's Digital Space."/>
    <br/>

    <div class="panel">
    <p>
      Welcome to my corner of the internet. This is a space for me to share my thoughts, ideas, things I love, and cool stuff I find on the web.  </br></br> <img style="width:70px; float:left;padding-right: 10px;padding-bottom: 2px;" src="bunny.png">
      Check out my blog posts, who I am, what I'm wasting time on and more in my digital home. My social media links are in <a href="arkydon.carrd.co">arkydon.carrd.co</a>
    </p>
    </div>
    
    <div class="panel">
    <h3>Recent Blog Posts :</h3>
    {% set blog = get_section(path="blog/_index.md") %}
    <ul class="blog-listing">
      {% for post in blog.pages | slice(end=3) %}
        <li><a href="{{ post.permalink }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
    </div>
{% endblock content %}