{% extends "base.html" %}

{% block content %}
    <!-- <br/>
    {# % set banner = resize_image(path="/static/banner.jpg", width=672, op="fit_width") % #}
    <img class="banner" src="{# { banner.url } #}" class="home-banner" alt="Arky's Digital Space."/>
    <br/> -->
    <!-- <lottie-player src="plant.json" background="transparent"  speed="1"  style="width: 30px; height: 30px;" loop controls autoplay></lottie-player> -->

    <!-- div class="av"><img src="/boy.webp" alt=""/> </div> -->
    
    <div class="hello-panel panel">          
      <p>
        Hey there! Welcome to my little corner of the digital universe. This is a space for me to share my thoughts, interests and cool stuff I find on the web.  {#</br></br> <img style="width:60px; float:left;padding-right: 5px;padding-bottom: 2px;" src="bunny.png">#}
        <br/>My social links are in <a href="https://arkydon.carrd.co">arkydon.carrd.co</a>
      </p>
    </div>
    <hr/>
    <div class="panel">
      <h3>Recent Blog Posts :</h3>
      {% set blog = get_section(path="blog/_index.md") %}
      <ul class="homepage-blog-listing">
        {% for post in blog.pages | slice(end=3) %}
          <li>
            <a href="{{ post.permalink }}">{{ post.title }}</a>
            {% if post.date %}
            <div class="blog-page-date">{{ post.date | date(format=config.extra.date_format) }}</div>
        {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
{% endblock content %}